.list {
    color: #fff;
    width: 85%;
    background-color: #bf07ac;
    height: 50%;
    max-height: auto;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 13px;
}

.list p {
    padding: 10px;
}

.list p span {
    position: absolute;
    left: 77%;
    cursor: pointer;
}

.faicons{
    margin: 0 5px;
    font-size: 12px;
}



@media screen and (min-width: 768px) {
    .list p span {
        position: absolute;
        left: 80%;
        cursor: pointer;
    }

    .list {
        color: #fff;
        width: 55%;
        background-color: #bf07ac;
        height: 50%;
        max-height: auto;
        margin: 20px auto;
        border-radius: 5px;
        font-size: 16px;
    }



}